@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 10% 92%; /* Light greyish background */
    --foreground: 210 10% 15%; /* Dark greyish text */

    --card: 210 10% 92%;
    --card-foreground: 210 10% 15%;

    --popover: 210 10% 92%;
    --popover-foreground: 210 10% 15%;

    --primary: 163 100% 7%; /* Matches #52796f */
    --primary-foreground: 0 0% 98%; /* Light color for contrast */

    --secondary: 165 22% 45%; /* Slightly lighter than primary */
    --secondary-foreground: 0 0% 15%;

    --muted: 165 22% 70%; /* Very light version of primary */
    --muted-foreground: 165 22% 30%;

    --accent: 144 19% 66%; /* Matches #84a98c */
    --accent-foreground: 0 0% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 10% 80%; /* Light grey for borders */
    --input: 210 10% 80%; /* Light grey for inputs */
    --ring: 210 10% 15%; /* Dark grey for focus rings */

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 15%; /* Dark greyish background */
    --foreground: 210 10% 92%; /* Light greyish text */

    --card: 210 10% 15%;
    --card-foreground: 210 10% 92%;

    --popover: 210 10% 15%;
    --popover-foreground: 210 10% 92%;

    --primary: 165 22% 70%; /* Light grey-green */
    --primary-foreground: 0 0% 15%; /* Dark color for contrast */

    --secondary: 165 22% 60%; /* Slightly darker than primary */
    --secondary-foreground: 0 0% 92%;

    --muted: 165 22% 45%; /* Dark version of primary */
    --muted-foreground: 165 22% 70%;

    --accent: 144 19% 66%; /* Matches #84a98c */
    --accent-foreground: 0 0% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 10% 30%; /* Dark grey for borders */
    --input: 210 10% 30%; /* Dark grey for inputs */
    --ring: 210 10% 80%; /* Light grey for focus rings */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
